@import "../src/scss/variable";
@import "../src/scss/reset";



@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
    height: 100vh;
background: #6441A5;
background: #360033;
    background: -webkit-linear-gradient(to right, #0b8793, #360033);
    background: linear-gradient(to right, #0b8793, #360033);
    margin-top: 8rem;
    font-family: "Anta", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;

}